# Environment
NODE_ENV = 
BASE_URL = 
PORT = 

# Database
DATABSE_NAME = 
DATABSE_PASSWORD = 
DATABASE_URL = 

# JWT
JWT_SECRET = 
JWT_EXPIRES_IN = 
JWT_COOKIE_EXPIRES_IN = 
BCRYPT_SALT_ROUNDS = 

# Email
MAILTRAP_USERNAME = 
MAILTRAP_PASSWORD = 

# Payment
STRIPE_SECRET_KEY =
STRIPE_WEBHOOK_SECRET =